[submodule "lib_mic_array"]
	path = mic_array/lib_mic_array
	url = git@github.com:xmos/lib_mic_array.git
[submodule "lib_xud"]
	path = xud/lib_xud
	url = git@github.com:xmos/lib_xud.git
[submodule "xmos_cmake_toolchain"]
	path = xmos_cmake_toolchain
	url = git@github.com:xmos/xmos_cmake_toolchain.git
